@import './Board';
@import './variables';

.solvedCategoriesContainer {
  width: calc(3 * #{$card-gap} + 4 * #{$card-width-large});
  height: calc(3 * #{$card-gap} + 4 * #{$card-height-large});
  display: grid;
  min-width: 0;
  min-height: 0;
  gap: #{$card-gap};
  grid-template-rows: repeat(4, 1fr);
  position: absolute;
  grid-template-columns: 1fr;
  top: 0;

    ol {
    padding-inline-start: 0;
    padding-left: 0;
    margin: 0;
  }
}

@media (max-width: $narrow-design-width) {
  .solvedCategoriesContainer {
    margin: 0 auto;
    width: calc(3 * #{$card-gap} + 4 * #{$card-height-width-small});
    height: calc(3 * #{$card-gap} + 4 * #{$card-height-width-small});
    gap: #{$card-gap};
  }

  .solvedCategoriesContainer {
    margin: 0 auto;
  }
}
